<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->


<html>
	
	<head>
		<title>Rango</title>
	</head>

	<body>
		<h1>Rango says...</h1>
		here is the about page.
		
		<div>
			 hey there partner! <br />
			<strong>This tutorial has been put together by Sofia Karamichali</strong><br />
		</div>

		<div>
			<a href="/rango/">Index</a><br />
			<img src="{% static 'images/rango.jpg' %" 
				alt="Picture of Rango" /> <!-- New line -->
			<img src="{% static 'media/cat.jpg' %"
				alt="Picture of a Cat" /> <!-- New line -->
		</div>
	</body>

</html>